:root {
  --main-font-family: 'Roboto Slab', 'Arial', 'Helvetica', sans-serif;
  --whitelike: #f9f9f9;
  --superdark: #000020;
  --tab-hover: rgba(0, 0, 20, 0.5);
  --shadow-color: rgba(0, 0, 0, 0.25);
  --background-from: #ffb0f8;
  --background-to: #bf46d7;
  --button-from: #91b2ee;
  --button-to: #65adba;
  --info-area: rgba(0, 0, 0, 0.2);
  --final-results-area: rgba(240, 200, 220, 0.8);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

#root {
  margin: 2rem;
}

body {
  background-image: linear-gradient(
    90deg,
    var(--background-from) 0%,
    var(--background-to) 100%
  );
  font-family: var(--main-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

h2 {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

button,
input[type='submit'],
input[type='button'] {
  border-radius: 5px;
  color: var(--whitelike);
  border: 0;
  outline: none;
  padding: 1rem 2rem;
  background-image: linear-gradient(
    19deg,
    var(--button-from) 0%,
    var(--button-to) 100%
  );
  -webkit-box-shadow: 0 1px 1px var(--shadow-color);
  box-shadow: 0 1px 1px var(--shadow-color);
  font-size: 1.2rem;
  margin-bottom: 1rem;
  cursor: pointer;
  font-family: var(--main-font-family);
}

input[type='button']:disabled {
  color: #aaaaaa;
  cursor: not-allowed;
}

fieldset {
  border: 0;
}

label {
  display: block;
}

.panic-button {
  position: fixed;
  right: 1rem;
  top: 2rem;
  z-index: 1;
  padding: 0.6rem 1.3rem;
}

.trick-card-container {
  padding-bottom: 1rem;
}

.players-cards {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.players-card {
  padding-bottom: 0.5rem;
  margin-right: 0.5rem;
  cursor: pointer;
}

.choice-buttons {
  columns: 6;
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  flex-wrap: wrap;
}

.table-cards {
  columns: 4;
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
}

.red-card {
  color: crimson;
}

.black-card {
  color: var(--superdark);
}

.card {
  font-family: 'Girassol', 'Times New Roman', Times, serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 4rem;
  height: 5.6rem;
  background-color: var(--whitelike);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid transparent;
  -webkit-box-shadow: 0 1px 1px var(--shadow-color);
  box-shadow: 0 1px 1px var(--shadow-color);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  overflow: auto;
}

.card > .suit {
  position: relative;
  top: -0.5rem;
  font-size: 2.6rem;
  line-height: 2.6rem;
}

.card > .rank {
  position: relative;
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.empty-card {
  border: 1px solid var(--shadow-color);
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: inherit;
}

.score-board {
  flex-wrap: wrap;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  margin-right: 1rem;
}

.taker {
  text-decoration: underline;
  font-weight: 800;
}

.my-score {
  font-style: italic;
}

table.score-sheet {
  border-spacing: 0;
  border-collapse: collapse;
}

table.score-sheet td,
table.score-sheet th {
  padding: 0.2rem 0.5rem;
}

table.score-sheet td {
  text-align: right;
}

tr.odd-gametype {
  background: rgba(124, 126, 124, 0.25);
}

.instructions p {
  text-align: justify;
}

#help-button {
  background-color: rgba(255, 255, 255, 0.2);
  align-items: center;
  border-radius: 32rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  position: fixed;
  height: 4rem;
  width: 4rem;
  right: 2rem;
  bottom: 2rem;
}

#help-button:hover,
#help-button:active {
  background-color: rgba(255, 255, 255, 0.4);
}

#help-button > .icon {
  -webkit-mask-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMSIgaGVpZ2h0PSIxMSIgdmlld0JveD0iMCAwIDExIDExIj48cGF0aCBkPSJNNS42IDAuOWMtMC42IDAtMS4xIDAuNS0xLjEgMS4xczAuNSAxLjEgMS4xIDEuMSAxLjEtMC41IDEuMS0xLjFTNi4yIDAuOSA1LjYgMC45ek0zIDRMMyA0LjdDMyA0LjcgNC41IDQuNiA0LjUgNnYxLjVjMCAxLjUtMS41IDEuNy0xLjUgMS43TDMgMTBoNS4yTDguMiA5LjJjMCAwLTEuMiAwLTEuMi0xLjVMNyA1YzAgMCAwLTEtMS0xSDN6IiBmaWxsPSIjMDEwMTAxIi8+PC9zdmc+);
  -webkit-mask-position-x: center;
  -webkit-mask-position-y: center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 2rem;
  background-color: var(--superdark);
  cursor: pointer;
  height: 2rem;
  width: 2rem;
  margin-inline-start: 0;
}

.modal {
  display: none;
  position: fixed;
  z-index: 999;
  padding-top: 2rem;
  padding-bottom: 1rem;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: var(--shadow-color);
}

.modal-content {
  position: relative;
  background-image: linear-gradient(
    180deg,
    var(--background-from) 0%,
    var(--background-to) 100%
  );
  padding-top: 1rem;
  padding-right: 2rem;
  padding-left: 2rem;
  padding-bottom: 3rem;
  margin-top: auto;
  margin-right: 3rem;
  margin-left: 3rem;
  margin-bottom: auto;
  box-shadow: 0 4px 8px 0 var(--shadow-color);
}

.close-modal {
  color: var(--whitelike);
  float: right;
  font-size: 2rem;
  font-weight: 800;
  cursor: pointer;
}

.close-modal:hover,
.close-modal:focus {
  color: var(--superdark);
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 1rem;
}

.modal-body {
  padding: 2px 1rem;
}

.extra-card-info {
  background: var(--info-area);
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-left: 0.8rem;
  margin-bottom: 0.8rem;
  border-radius: 5px;
}

.final-scores-container {
  background-color: var(--final-results-area);
  padding: 0rem 2rem 1rem 2rem;
  z-index: 200;
  position: absolute;
  top: 6rem;
  left: 50%;
  margin-top: -3.125rem;
  margin-left: -3.125rem;
}

.final-scores-container > table {
  left: 50%;
  transform: translateX(-50%);
  position: relative;
}

.final-scores-list > li {
  list-style: none;
  font-size: 1.4rem;
}

.main-title-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.main-title-card {
  padding-bottom: 0.5rem;
  margin-right: 0.5rem;
}

.tabbed-area {
  display: flex;
  flex-direction: column;
}

.tabbed-area > input[type='radio'] {
  display: none;
}

.tabs {
  position: relative;
  left: -2px;
}

.tab {
  cursor: pointer;
  padding: 10px 20px;
  margin: 0px 2px;
  background: var(--superdark);
  display: inline-block;
  color: var(--whitelike);
  border-radius: 5px 5px 0px 0px;
  box-shadow: 1px 0px 0px var(--shadow-color);
}

.tab:hover {
  background: var(--tab-hover);
}

.panel {
  background: var(--whitelike);
  box-shadow: 0 1px 1px var(--shadow-color);
  border-radius: 5px;
  overflow: hidden;
  padding: 1rem;
  border-top-left-radius: 0px;
}

.panel h2 {
  margin-bottom: 1rem;
}

.panel input[type='submit'] {
  float: right;
}

#three-players:checked ~ .tabs #three-players-tab,
#four-players:checked ~ .tabs #four-players-tab {
  background: var(--whitelike);
  color: var(--superdark);
}

.create-form > fieldset {
  padding-left: 0;
}

.create-form > * legend {
  font-weight: 800;
}

.create-form > * label {
  margin-bottom: 0.5rem;
  margin-left: 1rem;
  max-width: 16rem;
}

.create-form > * input[type='text'],
.create-form > * input[type='email'] {
  float: right;
}
