:root {
  --main-font-family: 'Roboto Slab', 'Arial', 'Helvetica', sans-serif;
  --whitelike: #f9f9f9;
  --superdark: #000020;
  --tab-hover: rgba(0, 0, 20, 0.5);
  --shadow-color: rgba(168, 167, 167, 0.25);
  --background-from: #29a4d4;
  --background-to: #1d7293;
  --button: #12227e;
  --info-area: rgba(3, 3, 3, 0.2);
  --final-results-area: rgba(240, 200, 220, 0.8);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

#root {
  margin: 0.5rem;
}

body {
  background-image: linear-gradient(
    90deg,
    var(--background-from) 0%,
    var(--background-to) 100%
  );
  font-family: var(--main-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

h2 {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

button,
input[type='submit'],
input[type='button'] {
  border-radius: 0.4rem;
  color: var(--whitelike);
  border: 0;
  outline: none;
  padding: 1rem 2rem;
  background-color: var(--button);
  -webkit-box-shadow: 0 1px 1px var(--shadow-color);
  box-shadow: 0 1px 1px var(--shadow-color);
  font-size: 1.2rem;
  margin-bottom: 1rem;
  font-family: var(--main-font-family);
}

button:hover:enabled,
input[type='submit']:hover:enabled,
input[type='button']:hover:enabled {
  filter: brightness(120%);
  cursor: pointer;
}

button:disabled,
input[type='submit']:disabled,
input[type='button']:disabled {
  color: #888888;
  filter: brightness(80%);
  cursor: not-allowed;
}

input[type='text'],
input[type='email'] {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  font-family: var(--main-font-family);
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
}

@keyframes spinner {
  to {
    transform: rotate(-360deg);
  }
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1.25rem;
  height: 1.25rem;
  margin-top: -0.625rem;
  margin-left: -0.625rem;
  border-radius: 50%;
  border: 3px solid #fff;
  border-top-color: #0e1b65;
  animation: spinner 0.9s linear infinite;
}

fieldset {
  border: 0;
  margin: 0;
  margin-bottom: 1rem;
  padding: 0.75rem;
}

legend {
  font-weight: 800;
}

.panic-button {
  position: fixed;
  right: 1rem;
  top: 2rem;
  z-index: 1;
  padding: 0.6rem 1.3rem;
}

.trick-card-container {
  padding-bottom: 1rem;
}

.players-cards {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.players-card {
  margin-right: 0.5rem;
  cursor: pointer;
}

.selected-for-removal {
  filter: brightness(70%);
}

.choice-buttons {
  columns: 6;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 1rem;
  flex-wrap: wrap;
}

.table-cards {
  columns: 4;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 2rem;
}

.red-card {
  color: crimson;
}

.black-card {
  color: var(--superdark);
}

.card {
  font-family: 'Girassol', 'Times New Roman', Times, serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 4rem;
  height: 5.6rem;
  margin-bottom: 0.5rem;
  background-color: var(--whitelike);
  border-radius: 0.4rem;
  border: 1px solid transparent;
  box-shadow: 0 1px 1px var(--shadow-color);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  overflow: auto;
}

.card > .suit {
  position: relative;
  top: -0.5rem;
  font-size: 2rem;
  line-height: 2.6rem;
}

.card > .rank {
  position: relative;
  font-size: 1.85rem;
  line-height: 1.5rem;
  font-weight: 500;
}

.empty-card {
  border: 1px solid var(--shadow-color);
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: inherit;
}

.score-board {
  flex-wrap: wrap;
  flex-direction: row;
  display: flex;
  justify-content: space-evenly;
  margin-right: 1rem;
}

.taker {
  text-decoration: underline;
  font-weight: 800;
}

table.score-sheet {
  border-spacing: 0;
  border-collapse: collapse;
}

table.score-sheet td,
table.score-sheet th {
  padding: 0.2rem 0.5rem;
}

table.score-sheet td {
  text-align: right;
}

tr.odd-gametype {
  background: rgba(124, 126, 124, 0.25);
}

#help-button {
  background-color: rgba(255, 255, 255, 0.2);
  align-items: center;
  border-radius: 32rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  position: fixed;
  height: 4rem;
  width: 4rem;
  right: 1rem;
  bottom: 1rem;
}

#help-button:hover,
#help-button:active {
  background-color: rgba(255, 255, 255, 0.4);
}

#help-button > .icon {
  -webkit-mask-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTEiIGhlaWdodD0iMTEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggc3R5bGU9ImZpbGw6IzAwMDtmaWxsLW9wYWNpdHk6MTtzdHJva2Utd2lkdGg6MS41MzYxNCIgZD0iTTUuNi45Yy0uMTA3LjAwMy0uMjE0LjAyLS4zMTcuMDUtLjUyNS4xNDUtLjkyMi42NjYtLjkwNSAxLjIxMy0uMDA4LjQyMi4yMS44MzMuNTY2IDEuMDZhMS4yNiAxLjI2IDAgMCAwIDEuOTUtMS4wODEgMS4yMzQgMS4yMzQgMCAwIDAtLjQxNi0uOTExQTEuMjE0IDEuMjE0IDAgMCAwIDUuNi45Wk0zLjY2MyA0LjIxOHMtLjAwNC4zNDMtLjAxNC4zNDdjLjE5OC4xMTIuNzEuMjQzLjc1Mi44MzYuMDAyLjYzNy4wMDEgMS4yNzQuMDAxIDEuOTFsLS4wMDEgMS45MWMtLjA0MS41OTQtLjU1NC43MjQtLjc1Mi44MzcuMDEuMDAzLjAxNC4zNDYuMDE0LjM0NmgzLjg1OXMuMDA1LS4zNDQuMDE1LS4zNDdjLS4xOTktLjExMy0uNzExLS4yNDItLjc1Mi0uODM1LS4wMDUtMS42NjggMC0zLjMzNi0uMDAyLTUuMDA0aC0yLjM4WiIvPjwvc3ZnPg==);
  -webkit-mask-position-x: center;
  -webkit-mask-position-y: center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 2rem;
  background-color: var(--superdark);
  cursor: pointer;
  height: 2rem;
  width: 2rem;
  margin-inline-start: 0;
}

.close-instructions {
  color: var(--whitelike);
  font-size: 3.5rem;
  font-weight: 800;
  cursor: pointer;
  display: flex;
  justify-content: center;
  position: fixed;
  float: right;
  width: 4rem;
  right: 0.125rem;
  top: 0.125rem;
}

.close-instructions:hover,
.close-instructions:focus {
  color: var(--superdark);
  text-decoration: none;
  cursor: pointer;
}

.results-container,
.instructions-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 2rem;
  margin-top: 0.125rem;
}

.instructions {
  max-width: 60rem;
}

.instructions p {
  text-align: justify;
}

.instructions > table {
  border: 1px solid var(--superdark);
  border-collapse: collapse;
}

.instructions > * th,
.instructions > * td {
  border: 1px solid var(--superdark);
  padding: 0.5rem;
}

.extra-card-info {
  background: var(--info-area);
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-left: 0.8rem;
  margin-bottom: 0.8rem;
  border-radius: 5px;
}

.start-screen-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-title-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.main-title-card {
  margin-right: 0.5rem;
}

.login-form-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  padding-top: 3rem;
}

.login-id-field {
  background-color: var(--whitelike);
  border: 1px solid var(--shadow-color);
  border-radius: 0.4rem;
  font-size: 2rem;
  margin-right: 0.75rem;
  margin-bottom: 0.75rem;
  height: 3.5rem;
  outline: none;
  text-align: center;
  width: 2.5rem;
}

.login-id-field:focus {
  border-color: var(--superdark);
  outline: none;
  transform: scale(1.1);
}

.tabbed-area {
  display: flex;
  flex-direction: column;
}

.tabbed-area > input[type='radio'] {
  display: none;
}

.tabs {
  position: relative;
  left: -2px;
}

.tab {
  cursor: pointer;
  padding: 10px 20px;
  margin: 0 2px;
  background: var(--superdark);
  display: inline-block;
  color: var(--whitelike);
  border-radius: 5px 5px 0 0;
  box-shadow: 1px 0 0 var(--shadow-color);
}

.tab:hover {
  background: var(--tab-hover);
}

.panel {
  background: var(--whitelike);
  box-shadow: 0 1px 1px var(--shadow-color);
  border-radius: 5px;
  overflow: hidden;
  padding: 1rem;
  border-top-left-radius: 0;
}

.create-form-container {
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
  margin-top: 0.125rem;
  max-width: 60rem;
}

.create-form-container h2 {
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.create-form-container > * > input[type='submit'] {
  margin-left: 1rem;
}

#three-players:checked ~ .tabs #three-players-tab,
#four-players:checked ~ .tabs #four-players-tab {
  background: var(--whitelike);
  color: var(--superdark);
}

.trick-takers > table {
  border-collapse: collapse;
}

.trick-takers > table > tbody > tr > td {
  padding: 0.125rem;
}

.trick-takers .score {
  padding-left: 1rem;
}

.my-score {
  text-decoration: underline;
}

.delayedError {
  visibility: hidden;
  animation: 0.75s linear 0.5s forwards delayedShow;
}

@keyframes delayedShow {
  to {
    visibility: visible;
  }
}

.final-player-positions > li {
  list-style: none;
  font-size: 1.4rem;
}

.hand-scores-container {
  background-color: var(--final-results-area);
  padding: 0 2rem 1rem 2rem;
  z-index: 200;
  position: absolute;
  top: 6rem;
  left: 50%;
  margin-top: -3.125rem;
  margin-left: -3.125rem;
}
