*,
*:before,
*:after {
  box-sizing: inherit;
}

#root {
  margin: 2rem;
}

body {
  background-image: linear-gradient(90deg, #fffabe 0%, #1393f5 100%);
  font-family: 'Nunito Sans', 'Arial', 'Helvetica', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Nunito Sans', 'Arial', 'Helvetica', sans-serif;
  font-weight: 400;
}

h2 {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

button {
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 2rem;
  color: rgb(255, 255, 255);
  border: 0;
  outline: none;
  padding: 1rem 2rem;
  background-image: linear-gradient(
    19deg,
    rgb(0, 0, 0) 0%,
    rgb(183, 33, 255) 100%
  );
  font-size: 1.6em;
  margin-bottom: 1rem;
  cursor: pointer;
}

.panic-button {
  position: fixed;
  right: 1rem;
  top: 2rem;
  z-index: 1;
  font-size: 1.2em;
  padding: 0.6rem 1.3rem;
}

.trick-card-container {
  padding-bottom: 1rem;
}

.players-cards {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.players-card {
  padding-bottom: 0.5rem;
  margin-right: 0.5rem;
  cursor: pointer;
}

.choice-buttons {
  columns: 6;
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  flex-wrap: wrap;
}

.table-cards {
  columns: 4;
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
}

.red-card {
  color: crimson;
}

.black-card {
  color: black;
}

.card {
  font-family: 'Girassol', 'Times New Roman', Times, serif;
  display: inline-block;
  width: 4rem;
  height: 5.6rem;
  background-color: #f9f9f9;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid transparent;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.card > .suit {
  position: relative;
  top: -0.2rem;
  font-size: 2.8em;
  text-align: center;
}

.card > .rank {
  position: relative;
  top: -0.4rem;
  font-size: 1.8em;
  text-align: center;
}

.empty-card {
  border: 1px solid darkslategray;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: inherit;
}

.score-board {
  flex-wrap: wrap;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  margin-right: 1rem;
}

.taker {
  text-decoration: underline;
}

.my-score {
  font-style: italic;
}

table.score-sheet {
  border-spacing: 0;
  border-collapse: collapse;
}

table.score-sheet td,
table.score-sheet th {
  padding: 0.2rem 0.5rem;
}

table.score-sheet td {
  text-align: right;
}

tr.trump,
tr.misere {
  background: rgba(124, 126, 124, 0.25);
}

.instructions p {
  text-align: justify;
}

#help-button {
  background-color: rgba(255, 255, 255, 0.2);
  align-items: center;
  border-radius: 32rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  position: fixed;
  height: 4rem;
  width: 4rem;
  right: 2rem;
  bottom: 2rem;
}

#help-button:hover,
#help-button:active {
  background-color: rgba(255, 255, 255, 0.4);
}

#help-button > .icon {
  -webkit-mask-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMSIgaGVpZ2h0PSIxMSIgdmlld0JveD0iMCAwIDExIDExIj48cGF0aCBkPSJNNS42IDAuOWMtMC42IDAtMS4xIDAuNS0xLjEgMS4xczAuNSAxLjEgMS4xIDEuMSAxLjEtMC41IDEuMS0xLjFTNi4yIDAuOSA1LjYgMC45ek0zIDRMMyA0LjdDMyA0LjcgNC41IDQuNiA0LjUgNnYxLjVjMCAxLjUtMS41IDEuNy0xLjUgMS43TDMgMTBoNS4yTDguMiA5LjJjMCAwLTEuMiAwLTEuMi0xLjVMNyA1YzAgMCAwLTEtMS0xSDN6IiBmaWxsPSIjMDEwMTAxIi8+PC9zdmc+);
  -webkit-mask-position-x: center;
  -webkit-mask-position-y: center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 2rem;
  background-color: white;
  cursor: pointer;
  height: 2rem;
  width: 2rem;
  margin-inline-start: 0;
}

.modal {
  display: none;
  position: fixed;
  z-index: 999;
  padding-top: 2rem;
  padding-bottom: 1rem;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal-content {
  position: relative;
  background-image: linear-gradient(90deg, #0bdee6 0%, #d184f0 100%);
  margin: auto;
  padding: 1rem;
  margin-left: 3rem;
  margin-right: 3rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.close-modal {
  color: white;
  float: right;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
}

.close-modal:hover,
.close-modal:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 1rem;
}

.modal-body {
  padding: 2px 1rem;
}

.info-container {
  background: rgba(253, 0, 0, 0.2);
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-left: 0.4rem;
  margin-bottom: 0.8rem;
  border-radius: 5px;
}

.final-scores-container {
  background-color: rgba(240, 200, 220, 0.8);
  padding: 1rem;
  z-index: 200;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -3.125rem;
  margin-left: -3.125rem;
}

.final-scores-list > li {
  list-style: none;
  font-size: 1.4rem;
}
